.qwerty_characters {
	z-index: 99;
	position: absolute;
	font-weight: Bold;
	font-size: 10pt;
	color: black;
}

.print_button {
	display: block;
    margin-left: auto;
    margin-right: auto;

}
.spacebar_code {
	z-index: 99;
	position: absolute;
	font-family: Consolas;
	font-weight: Bold;
	font-size: 10pt;
	color: black;
	top: 169px; 
	position: absolute; 
	left:133px;

}

.card_size {
	height: 204.094488189px;
	width: 318.25984252px;
}

.a_card {
	display: inline-block;
	margin: 3px;
	position: relative;

}
span, img {
	-webkit-user-select: none;
	user-select: none;
}
#the_print {
	display:none;

}
.inline_block {
	position: relative; 
	display: inline-block;
}
.input_field_one {
	font-size: 30px;
	margin-top: 20%;
}
.input_field_two {
	margin-top: 10px;
	font-size: 30px;
	position: relative;
	right: 1px;

}

.monotype {
	font-family: Consolas;
}

#dotted_background {
	width: 325px; 
	border-style: dotted; 
	border-radius: 30px; 
	padding:1px; 
	display:block;
}